.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.title {
  margin-bottom: 10px;
}

.title h3 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
