<!-- <div class="flex"> -->

<div class="card">
  <mat-card style="max-width: 650px;">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>
        <div class="title">
          <h3>Register</h3>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="userForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
  
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" appBlurHandler
          [control]="userForm.get('email')">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" appBlurHandler [control]="userForm.get('email')">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
      <mat-radio-group aria-label="Select Gender" class="example-full-width" appearance="outline"
        formControlName="gender">
        <mat-label>Select Your Gender </mat-label>
        <ul>
          <li><mat-radio-button class="example-margin" value="1">
              <div style="color: rgba(255, 255, 255, 0.6);">Male</div>
            </mat-radio-button>
          <mat-radio-button class="example-margin" value="2">
              <div style="color: rgba(255, 255, 255, 0.6);">Female</div>
            </mat-radio-button></li>
        </ul>
      </mat-radio-group>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>
          <div>Select security question</div>
        </mat-label>
        <mat-select [(value)]="selected" formControlName="securityQuestion">
          <mat-option>None</mat-option>
          <mat-option value="first School">Name of your first School</mat-option>
          <mat-option value="Pet">Name of your Pet</mat-option>
          <mat-option value="Favroute Sports">Name of your Favroute Sports</mat-option>
        </mat-select>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{selected}}</mat-label>
        <input matInput type="text" formControlName="selected">
      </mat-form-field>
      <section class="example-full-width">
        <mat-label>Select your education</mat-label>
        <div formGroupName="education">
          <ul>
            <li> <mat-checkbox class="example-margin" formControlName="tenth">
                <div style="color: rgba(255, 255, 255, 0.6);">Tenth</div>
              </mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="twelfth">
                <div style="color: rgba(255, 255, 255, 0.6);">Twelth</div>
              </mat-checkbox></li>
            <li><mat-checkbox class="example-margin" formControlName="btech">
                <div style="color: rgba(255, 255, 255, 0.6);">BTECH</div>
              </mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="mtech">
                <div style="color: rgba(255, 255, 255, 0.6);">MTECH</div>
              </mat-checkbox></li>
          </ul>
        </div>
      </section>
      <button class="example-full-width" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="card">

  <div class="example-form" [formGroup]="userForm">
    <div class="title">
      <h3>Register</h3>
    </div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>

      <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" appBlurHandler
        [control]="userForm.get('email')">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" appBlurHandler [control]="userForm.get('email')">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
    <mat-radio-group aria-label="Select Gender" class="example-full-width" appearance="outline"
      formControlName="gender">
      <mat-label>Select Your Gender </mat-label>
      <ul>
        <li><mat-radio-button class="example-margin" value="1">
            <div style="color: rgba(255, 255, 255, 0.6);">Male</div>
          </mat-radio-button></li>
        <li><mat-radio-button class="example-margin" value="2">
            <div style="color: rgba(255, 255, 255, 0.6);">Female</div>
          </mat-radio-button></li>
      </ul>
    </mat-radio-group>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>
        <div>Select security question</div>
      </mat-label>
      <mat-select [(value)]="selected" formControlName="securityQuestion">
        <mat-option>None</mat-option>
        <mat-option value="first School">Name of your first School</mat-option>
        <mat-option value="Pet">Name of your Pet</mat-option>
        <mat-option value="Favroute Sports">Name of your Favroute Sports</mat-option>
      </mat-select>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{selected}}</mat-label>
      <input matInput type="text" formControlName="selected">
    </mat-form-field>
    <section class="example-full-width">
      <mat-label>Select your education</mat-label>
      <div formGroupName="education">
        <ul>
          <li> <mat-checkbox class="example-margin" formControlName="tenth">
              <div style="color: rgba(255, 255, 255, 0.6);">Tenth</div>
            </mat-checkbox></li>
          <li><mat-checkbox class="example-margin" formControlName="twelfth">
              <div style="color: rgba(255, 255, 255, 0.6);">Twelth</div>
            </mat-checkbox></li>
          <li><mat-checkbox class="example-margin" formControlName="btech">
              <div style="color: rgba(255, 255, 255, 0.6);">BTECH</div>
            </mat-checkbox></li>
          <li><mat-checkbox class="example-margin" formControlName="mtech">
              <div style="color: rgba(255, 255, 255, 0.6);">MTECH</div>
            </mat-checkbox></li>
        </ul>
      </div>
    </section>
    <button class="example-full-width" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>



  </div>
</div> -->